div{
    color: white;
}
.alert-text{
    color: red;
}
#title{
    background-color: red;
}
.read, .unred{
    color : while;
    background-color: black;
}
.subsection.header{ /*para seleccionar cuando tiene dos palabras */
    color : red;
}
.subsection#preview{
    color : blue;
}
/* prueba de tex */
/* .ancestor .contents{
    /* some declarations
} */

