@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AR:wght@100..400&display=swap');
html, body{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    font-family: 'JetBrains Mono', monospace;
    height: 100%;
    width: 100%;
    margin:0;
    padding: 0;
}
section{
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
}
footer {
    text-align: center;
    justify-self: flex-end;
    align-self: flex-end;
    padding: 10px 0;
    background-color: #f0f0f0;
    width: 100%;
}
header{
    text-align: center;
    /* padding: 10px; */
    background-color: #f0f0f0;
    width: 100%;
}
.container{
    width: 512px;
    height: 512px;
    border: 4px solid black;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin: 15px 0 0 0;
}
.menu{
    display: flex;
    flex-direction: column;
    height: 512px;
    align-items: center;
    justify-content: center;
    gap: 50px 30px;
    margin-right: 100px;
    /* flex: 1; */
}
.rued{
    display: flex;
    font-family: "Open Sans", sans-serif;
}
.numerito{
    padding-left: 10px;
    font-weight: 600;
}
.tit{
    height: 10px;
}
.pick{
    border-color: white;
    border-radius: 15px;
    width: 100px;
    height: 100px;
    background-color: transparent;
    cursor: pointer;
    /* border-radius: 30px; */
}
.colorson, .rainbow, .borrador, .clear {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 200px;
}

.colorson:active, .rainbow:active, .borrador:active, .clear:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}
.colorcito{
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    border: 1px solid;
}
.filita{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid rgb(151, 145, 145);
    flex : 1;
}
.cuadrado{
    flex: 1;
    border-bottom: 1px solid rgb(151, 145, 145);
    cursor: pointer;
    /* background-color: black; */
}
.rueda{
    color: black;
}
.cuadrado:hover{
     transform: scale(1.2); 
    /* transition: background-color 0.1s ease;  */
    background-color: rgb(151, 145, 145);
}
.titulito, footer{
    background-color: black;
    color: white;
}
.tit{
    font-family: "Playwrite AR", cursive;
    font-weight: 600;
    font-size: 40px;
}